Repository GO-DIE/soft-delete-mongoose-plugin: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint --, npm run format --

.lintstagedrc.json:

{
  "*.ts": ["npm run lint --"],
  "*.{ts,json,yaml}": ["npm run format --"]
}

feat: init
  .lintstagedrc.json
  index.ts
  jest.config.js
  package-lock.json
  package.json
  test/build/REMADE.md
  test/build/docker-compose.yml
  test/build/end.sh
  test/build/rs-init.sh
  test/build/run.sh
  test/index.test.ts
Due: npm run lint --, npm run format --

feat: init
  README.md
Due: none

feat: init
  index.ts
  package.json
  test/index.test.ts
Due: npm run lint --, npm run format --

feat: init
  package.json
Due: npm run format --

feat: init
  README.md
  build/REMADE.md
  build/build.sh
  build/clean.sh
  build/docker-compose.yml
  build/rs-init.sh
  package-lock.json
  package.json
  samples/sample.js
  samples/sample.ts
Due: npm run lint --, npm run format --

feat: init
  .eslintrc.json
  .gitignore
  README.md
  build/build.sh
  build/rs-init.sh
  package-lock.json
  package.json
  samples/sample.js
  samples/sample.ts
  src/index.ts
  test/index.test.ts
  tsconfig.build.json
  tsconfig.json
Due: npm run lint --, npm run format --

Update README.md
  README.md
Due: none

feat: init
  .eslintrc.json
  package.json
  samples/.gitignore
  samples/js/index.js
  samples/package-lock.json
  samples/package.json
  samples/ts/index.ts
  tsconfig.json
Due: npm run lint --, npm run format --

feat: init
  samples/js/index.js
  samples/ts/index.ts
  test/index.test.ts
Due: npm run lint --, npm run format --

feat: init
  README.md
  samples/js/index.js
Due: none

feat: init
  .eslintrc.json
  .gitignore
  package-lock.json
  package.json
  samples/js/index.js
  scripts/REMADE.md
  scripts/build.sh
  scripts/clean.sh
  scripts/docker-compose.yml
  scripts/rs-init.sh
  tsconfig.build.json
  tsconfig.json
Due: npm run format --

feat: init
  package-lock.json
  package.json
  src/index copy.ts
Due: npm run lint --, npm run format --

feat: init
  .editorconfig
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  .prettierrc
  LICENSE
  README.md
  jest.config.js
  package-lock.json
  package.json
  samples/js/index.js
  samples/package-lock.json
  samples/package.json
  samples/ts/index.ts
  src/index copy.ts
  src/index.ts
  test/index.test.ts
  tsconfig.json
Due: npm run lint --, npm run format --

docs: update README.md
  README.md
Due: none

build: update package version
  package-lock.json
  package.json
Due: npm run format --

build: update package
  package-lock.json
  package.json
Due: npm run format --
